<div class="comment-bottom heading" style="clear: both">
    <h3>Leave a SubComment</h3>
    {{ form_start(form, {'action': path('sub_coment_form', {'coment_id': coment.getId, 'post_id': post.getId })}) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create"
           class="btn btn-default pull-right" />
    {{ form_end(form) }}

</div>
