{% extends 'AppBundle::main.html.twig' %}

{% block body %}
    <div class="single">
    <div class="container">
        <div class="comment-bottom heading" style="clear: both">
            Hello
        </div>
    </div>
    </div>

{% endblock %}